<div id="app">
	<section id="tasks" ng-controller="TasksController">
		<ul>
			<li ng-repeat="task in tasks" ng-class="{ completed: task.isCompleted }" ng-show="activeCategory == task.category"><input type="checkbox" ng-model="task.isCompleted">&nbsp;&nbsp;{{ task.label }}</li>
		</ul>
		<button ng-click="newTask()">New</button>
	</section>
	<aside id="categories" ng-controller="CategoriesController">
		<ul>
			<li ng-repeat="category in categories" ng-click="setActiveCategory($index)" ng-dblclick="editCategoryName($index)" ng-class="{ active: activeCategory == $index }">{{ category }}</li>
		</ul>
		<button ng-click="newCategory()">New</button>
	</aside>
</div>