<div id="app" ng-controller="MainController">
	<section id="tasks" ng-controller="TasksController">
		<ul>
			<li></li>
		</ul>
	</section>
	<aside id="categories" ng-controller="CategoriesController">
		<ul>
			<li ng-repeat="category in categories" ng-click="setActive($index)" ng-class="{ active: activeCategory == $index }">{{ category }}</li>
		</ul>
		<button ng-click="newCategory()">New</button>
	</aside>
</div>