#categories {
	background: #555;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	bottom: 0;
	color: #fff;
	left: 0;
	position: absolute;
	top: 0;
	width: 250px;
	
	ul {
		list-style-type: none;
		padding: 0;
		
		li {
			border-bottom: 1px #777 solid;
			padding: 10px 15px;
		}
	}
}